<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Google Cloud Upload Page</h1>
    <p>Upload Here</p>
    <div><a href="/google/googleCloud/uploadToBucket">Upload To GoogleBucket</a></div>
  </body>
</html>
