<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Google Cloud</h1>
    <p>Login Here</p>
    <div><a href="<%=url%>">LogIn</a></div>
    <!-- <div><a href="/google/uploadToBucket">Upload To GoogleBucket</a></div> -->
  </body>
</html>
