<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>HomePage</h1>
    <p>Login Here</p>
    <a href="<%=url%>">LogIn</a>
  </body>
</html>
