<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Select your option</h1>
    <p>Options</p>
    <div><a href="/google/googleDrive">GoogleDrive Upload</a></div>
    <div><a href="/google/googleCloud">GoogleCloud Upload</a></div>
  </body>
</html>
